@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

body {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    font-family: 'Noto Sans TC', sans-serif;
    color: #71748d;
    background-color: #efeff6;
    -webkit-font-smoothing: antialiased;
}

html, body {
    height: 100%;
    margin: 0;
}

/* Temporary code to workaround a regression in Bootstap 4.0alpha6,
    remove this code when Bootstrap is updated with a new release. */
.form-control::-webkit-input-placeholder {
  color: #ccc;
}

.form-control::-moz-placeholder {
  color: #ccc;
}

.form-control:-ms-input-placeholder {
  color: #ccc;
}

.form-control::placeholder {
  color: #ccc;
}

.wrapper-without-footer {
    min-height: 100%;

    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -284px;
}

.footer,
.push {
    height: 284px;
}

h1, h2, h3, h4, h5, h6 {
    color: #3d405c;
}

p {
    line-height: 1.8rem;
}

a {
    /* color: #007bff; */
    color: #4A6A9C;
}

a:hover {
    color: #0069d9;
    text-decoration: none;
}

a:active,
a:hover {
    outline: 0;
    text-decoration: none;
}

ol li, ul li {
    margin-bottom: 1rem!important;
}

.btn-primary {
    background-color: #4A6A9C;
    border: none;
}

.table td, .table th {
    padding: .4rem .75rem;
}

.btn-link.disabled, .btn-link:disabled {
    color: #98A5B0;
    pointer-events: none;
}
.navbar-brand h1 {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    /* text-transform: uppercase; */
    letter-spacing: 0;
    color: #444444;
    word-wrap: break-word;
    white-space: normal;
}
.navbar-light .navbar-nav .nav-link {
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(255,255,255,0.7);
    transition: color .5s ease;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(255,255,255,1);
}
.navbar-light .navbar-nav .nav-link:active {
    color: rgba(255,255,255,1);
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(255,255,255,.9);
}
#sidenav .nav-link {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.2px;
}
#hidden-navbar {
    transition: top 0.3s;
}
#hidden-navbar .navbar-brand h1 {
    margin-bottom: 4px;
}

.bg-dark-gray {
    background-color: #333;
}
.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
/* .race-links a {
    font-weight: bold;
    letter-spacing: 0.4px;
    color: #3d405c;
}
.race-links a:hover {
    color: #0069d9;
} */

.btn-outline-custom {
    color: #3d405c;
    border-color: #add8e6;
    padding: 0.275rem 0.65rem;
    font-size: 0.875rem;
    font-weight: 600;
}
.btn-outline-custom:hover {
    color: #fff;
    background-color: #3d405c;
    border-color: #3d405c;
}

/* ajax loading */
.ajax-loading{
    height: 64px;
    line-height: 64px;
    text-align: center;
}

/* hamburger button */
.hamburger {
    height: 48px;
    width: 48px;
    position: absolute;
    right: 0;
    top: 0;
    color: #ffffff;
    margin: 0;
    padding: 8px;
    border: 0;
    background-color: transparent;
    outline: none !important;
}
.hamburger i {
    height: 32px;
    width: 32px;
    outline: none;
}
.material-icons.md-32 {
    font-size: 32px;
}

/* sidenav */
#sidenav {
    height: 100%;
    width: 0;
    max-width: 100%;
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    background-color: #FFF;
    overflow-x: hidden;
    padding-top: 48px;
    transition: width 0.5s;
}
#sidenav.active {
    width: 300px;
}
#sidenav a {
    padding: 12px 20px 12px 28px;
    text-decoration: none;
    color: #397AB8;
    display: block;
    font: normal normal normal 16px/1.4em 'Noto Sans TC', sans-serif;
    transition: 0.2s;
}
#sidenav a:hover {
    color: #0C3D6B;
}
#sidenav a:active {
    color: #092F52;
}
#sidenav .active a {
    background: #eeeeee;
    /* color: #333 !important; */
    color: #092F52 !important;
}

#sidenav a.color-1 {
    color: #1C6678;
}
#sidenav a.color-1:hover {
    color: #103B45;
}
#sidenav a.color-2 {
    color: #D1AB59;
}
#sidenav a.color-2:hover {
    color: #9E8143;
}
#sidenav a.color-3 {
    color: #4A987C;
}
#sidenav a.color-3:hover {
    color: #326653;
}
#sidenav a.color-4 {
    color: #4A6A9C;
}
#sidenav a.color-4:hover {
    color: #324769;
}
#sidenav a.color-5 {
    color: #D18059;
}
#sidenav a.color-5:hover {
    color: #9E6143;
}
#sidenav a.color-6 {
    color: #475bcb;
}
#sidenav a.color-6:hover {
    color: #364599;
}
#sidenav-overlay {
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2999;
    /* transition: opacity 0.5s; */
    pointer-events: none;
}
#sidenav-overlay.active {
    opacity: 1 !important;
    pointer-events: all;
}
#sidenav li.active a.sidenav-item {
    color: #000;
}
#sidenav a.lang-btn {
    margin: 0 12px;
}

.activated_filter {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    display: inline-block;
    padding: 0px 28px 0px 10px;
    line-height: 24px;
    border-radius: 12px;
    position: relative;
    cursor: pointer;
    font-size: 0.875rem;
}
.activated_filter i {
    vertical-align: middle;
    position: absolute;
    right: 0;
}

/* -----------------------
1.1  Cards
-------------------------*/

.card {
    margin-bottom: 30px;
    border: none;
    -webkit-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    -moz-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
}

.card-header {
    background-color: #fff;
    border-bottom: 1px solid #e6e6f2;
}

.card-title {}

.card-subtitle {
    font-size: 14px;
}

.card-body {}

.card-text {}

.card-footer {
    border-top: 1px solid #e6e6f2;
    background: #f6f6ff;
}

.card-link {}

.toolbar {
    font-size: 18px;
}

.card-header-title {
    margin: 0;
    line-height: 2;
}

.card-toolbar-tabs {}

.card-toolbar-tabs .nav.nav-pills {}

.card-toolbar-tabs .nav.nav-pills .nav-item {}

.card-toolbar-tabs .nav.nav-pills .nav-item .nav-link {
    font-size: 14px;
    padding: 6px 10px;
}

.card-toolbar-tabs .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #5969ff;
    background-color: transparent;
}


/*------------------------- Card Varience --------------------------*/

.card-figure {
    position: relative;
    padding: 10px;
    border-radius: 2px;
}

.card-figure .figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 0;
}

.card-figure .figure-caption {
    display: block;
    margin-top: 10px;
    font-size: .875rem;
    color: inherit;
}

.figure-title {
    margin: 0 0 .125rem;
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-figure.has-hoverable {
    -webkit-transition: -webkit-transform .2s, -webkit-box-shadow .2s;
    transition: -webkit-transform .2s, -webkit-box-shadow .2s;
    transition: transform .2s, box-shadow .2s;
    transition: transform .2s, box-shadow .2s, -webkit-transform .2s, -webkit-box-shadow .2s;
}

.card-figure.has-hoverable:focus,
.card-figure.has-hoverable:hover {
    -webkit-transform: translate3d(0, -.25rem, 0);
    transform: translate3d(0, -.25rem, 0);
    -webkit-box-shadow: 0 5px 15px 0 rgba(61, 70, 79, .15);
    box-shadow: 0 5px 15px 0 rgba(61, 70, 79, .15);
}

.figure-img {
    position: relative;
    margin-bottom: 0;
    overflow: hidden;
}

.figure-img .img-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsla(0, 0%, 100%, .96);
    opacity: 0;
    z-index: 2;
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease;
}

.card-figure:hover .img-link {
    opacity: 1;
}

.figure-img .img-link .tile {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1rem;
    margin-left: -1rem;
}

.tile.bg-danger {
    color: #fff;
}

.tile-circle {
    border-radius: 4rem;
}

.figure-action {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.card-figure:hover .figure-action {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 2;
}

.figure-tools {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: .5rem;
    opacity: 0;
    z-index: 2;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
}

.card-figure:hover .figure-tools {
    opacity: 1;
}

.figure-description {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2.25rem .5rem;
    background-color: hsla(0, 0%, 100%, .96);
    opacity: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    z-index: 1;
}

.card-figure:hover .figure-description {
    opacity: 1;
}

.figure-attachment {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 200px;
    background-color: #f5f5f5;
    overflow: hidden;
}

.btn-reset {
    padding: 0 2px;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}


/*------------------------- Card Navigation --------------------------*/

.card-header-tabs {}

.card-header-pills {}

.pills-regular .card-header-pills.nav.nav-pills .nav-item .nav-link.active {
    background-color: #5969ff;
    color: #fff;
}

/* Others */

body{
    background-color: #121212;
    overflow-x: hidden;
}

p.tagline {
    color: #ffffff;
    z-index: 2000;
    font-size: 2.8rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-shadow: 0px 1px 4px rgba(0,0,0,0.5);
    text-align: center;
    margin-top: 340px;
    padding-left: 36px;
    opacity: 0;
    -moz-transition: opacity 0.3s ease-in;
    -webkit-transition: opacity 0.3s ease-in;
    -ms-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
}
p.tagline.opaque {
    opacity: 1;
}
p.tagline.fade-out {
    opacity: 0;
}

/* Animation */
/* p.tagline.start {
    animation: animated-text 2s steps(29,end) 1s 1 normal both,
    animated-cursor 600ms steps(29,end) infinite;
} */

/* text animation */

/* @keyframes animated-text{
    from{width: 0;}
    to{width: 556px;}
} */

/* cursor animations */

/* @keyframes animated-cursor{
    from{border-right-color: rgba(255,255,255,1);}
    to{border-right-color: transparent;}
} */
.cb-slideshow {
    height: 860px;
    margin: 0;
    padding: 0;
}
.cb-slideshow,
.cb-slideshow:after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
}
/* .cb-slideshow:after {
content: '';
background: transparent url(../images/pattern.png) repeat top left;
} */
.cb-slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: 0;
    opacity: 1;
    -webkit-transition: opacity 3s;
    -moz-transition: opacity 3s;
    -o-transition: opacity 3s;
    transition: opacity 3s;
}
.cb-slideshow li span.fade-out {
    opacity: 0;
}
#banner {
    height: 100vh;
    min-height: 800px;
    max-height: 860px;
    -moz-background-size:cover;
    -webkit-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}
.banner-buttons-wrapper {
}
.banner-button {
    margin-bottom: 60px!important;
    opacity: 0;
    transition: opacity 1.5s;
}
.banner-button.appear {
    opacity: 1;
}
.banner-button-rect {
    z-index: 100;
    max-width: 240px;
    display: block;
    color: #444;
    text-shadow: 0px 1px 4px rgba(0,0,0,0.5);
    box-shadow: 0 3px 6px 1px rgba(0,0,0,0.2);
    cursor: pointer;
    vertical-align: middle;
    padding: 6px;
    text-align: center;
    font-size: 1.3rem;
    color: white;
    border-radius: 4px;
    height: 48px;
    line-height: 36px;
    padding-left: 0;
    transition: all .5s;
    -webkit-transition: all .5s;
}
.banner-button-rect:hover {
    color: white;
    box-shadow: 0 3px 6px 1px rgba(0,0,0,0.4);
    text-shadow: 0px 1px 4px rgba(0,0,0,0.7);
}
.banner-button-diamond {
    cursor: pointer;
    z-index: 200;
    background: white;
    width: 56px;
    height: 56px;
    border-radius: 6px;
    position: absolute;
    top: -4px;
    left: -24px;
    transform: rotate(45deg);
    border: 1px solid rgba(0,0,0,0.2);
    /* box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.3); */
    box-shadow: 0px 2px 28px 0px rgba(0,0,0,0.6);
    transform: rotate(45deg) scale(1);
    transition: transform .5s;
}
.banner-button:hover .banner-button-diamond {
    transform: rotate(45deg) scale(1.1);
}
.banner-button.odd:hover .banner-button-rect {
    padding-left: 24px;
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
}
.banner-button.even:hover .banner-button-rect {
    padding-right: 24px;
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
}
.banner-button.odd {
    margin-left: 32px;
}
.banner-button.even .banner-button-diamond {
   left: 212px;
}
.banner-button .banner-button-diamond img {
    width: 42px;
    height: 42px;
    transform: rotate(-45deg);
    margin-left: 6px;
    margin-top: 6px;
}
.mobile .banner-button.odd {
    display: inline-block;
    width: 180px;
    margin-right: 8px;
    margin-left: 0;
    margin-bottom: 50px!important;
}
.mobile .banner-button.even {
    display: inline-block;
    width: 180px;
    margin-left: 8px;
    margin-bottom: 50px!important;
}
.mobile .banner-button.even .banner-button-diamond {
    left: unset;
    right: -24px;
}
.mobile.banner-buttons-wrapper {
    text-align: center;
}
.mobile-tagline {
    color: white;
    z-index: 2000;
    text-align: center;
    margin-top: 160px;
    font-size: 2.3rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-shadow: 0px 1px 4px rgba(0,0,0,0.5);
    margin: auto;
    margin-top: 160px;
    margin-bottom: 70px;
    padding: 0 44px;
    line-height: 1.5em;
    min-height: 3em;

    opacity: 0;
    -moz-transition: opacity 0.3s ease-in;
    -webkit-transition: opacity 0.3s ease-in;
    -ms-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
}
.mobile-tagline.opaque {
    opacity: 1;
}
.mobile-tagline.fade-out {
    opacity: 0;
}
.left-div {
    height: 100%;
    padding-top: 180px;
    padding-left: 20px;
}
.left-bg {
    width: 0;
    background: rgba(51, 52, 60, 0.71);
    height: 100%;
    position: absolute;
    transition: width 1s;
}
.call-for-action {
    /* background-color: #367DBD; */
    background-color: #46B352;
    border-radius: 50px;
    border: none;
    padding: 12px 48px;
    box-shadow: 0 0 6px rgba(0,0,0,0.4);
    font: normal normal normal 18px/1.4em raleway,sans-serif;
}
.call-for-action:hover {
    /* background-color: #2F6CA3; */
    background-color: #41A64C;
}
.call-for-action:active {
    /* background-color: #295f8e; */
    background-color: #3C9946;
}
.call-for-action.secondary {
    background-color: #555555;
}
.call-for-action.secondary:hover {
    background-color: #444444;
}
.call-for-action.secondary:active {
    background-color: #333333;
}
.call-for-action-bar {
    cursor: pointer;
}
footer {
    z-index: 1;
}
footer .address {
    width: 240px;
}
.header-banner {
    height: 280px;
}
.header-title {
    padding-top: 120px;
}
.back-to-top {
    cursor: pointer;
}

/* Contact Us */
.contact-now-buttons {
    height: 44px;
    border-radius: 44px;
    max-width: 240px;
    color: white;
    margin: auto;
    font-size: 16px;
}
.contact-now-buttons:hover {
    background-color: #3d405c!important;
}

/* Extra large devices (large desktops, 1200px and up) */
/* No media query since this is the default in Bootstrap */

/* Large devices (desktops, 992px and up) */
@media (max-width: 1199px) {
    .banner {
        background-position: center;
    }
    footer .address {
        width: 220px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 991px) {
    .banner-buttons-wrapper {
        width: 192px;
    }
    .banner-button .banner-button-rect {
        height: 40px;
        line-height: 28px;
        width: 160px;
        font-size: 16px;
    }
    .banner-button.odd .banner-button-rect {
        text-align: right;
        padding-right: 20px;
    }
    .banner-button.even .banner-button-rect {
        text-align: left;
        padding-left: 20px;
    }
    .banner-button .banner-button-diamond {
        width: 48px;
        height: 48px;
    }
    .banner-button.even .banner-button-diamond {
        right: 0;
        left: unset;
    }
    .banner-button .banner-button-diamond img {
        margin-left: 2px;
        margin-top: 2px;
    }
    .left-div {
        height: 100%;
        padding-top: 180px;
        padding-left: 12px;
    }
    .header-banner {
        height: 260px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767px) {
    .banner-buttons-wrapper {
        width: 100%;
    }
    .banner-button .banner-button-rect {
        height: 48px;
        line-height: 36px;
        width: 180px;
        font-size: 1.3rem;
    }
    .banner-button.odd .banner-button-rect {
        text-align: right;
        padding-right: 20px;
    }
    .banner-button.even .banner-button-rect {
        text-align: left;
        padding-left: 20px;
    }
    .banner-button .banner-button-diamond {
        width: 56px;
        height: 56px;
    }
    .banner-button .banner-button-diamond img {
        margin-left: 0px;
        margin-top: 6px;
    }
    .cb-slideshow,
    #mobile-banner {
        height: 640px;
    }
    .header-banner {
        height: 220px;
    }
    .header-title {
        padding-top: 110px;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
    html, body {
        font-size: 12px;
    }
    .navbar-brand {
        padding-right: 48px;
    }
    .mobile .banner-button.odd,
    .mobile .banner-button.odd .banner-button-rect {
        width: 150px;
    }
    .mobile .banner-button.even,
    .mobile .banner-button.even .banner-button-rect {
        width: 150px;
    }
    .mobile .banner-button.odd {
        margin-bottom: 32px!important;
    }
    .mobile .banner-button.even {
        margin-bottom: 32px!important;
    }
    .mobile .banner-button .banner-button-diamond {
        width: 40px;
        height: 40px;
        top: -2px;
        left: -20px;
    }
    .mobile .banner-button .banner-button-diamond img {
        margin-left: 0px;
        margin-top: 3px;
        width: 32px;
        height: 32px;
    }
    .mobile .banner-button .banner-button-rect {
        height: 36px;
        line-height: 24px;
    }
    .mobile-tagline,
    #mobile-banner {
        width: 300px;
    }
    .cb-slideshow,
    #mobile-banner {
        height: 600px;
    }
    .header-banner {
        height: 190px;
    }
    .header-title {
        padding-top: 90px;
    }
}
/* Ultra small */
@media (max-width: 400px) {
    .navbar-brand h1 {
        font-size: 1.4rem;
    }
    .navbar-brand {
        padding-right: 48px;
    }
    .mobile .banner-button.odd {
        margin-right: 0;
        margin-left: 26px;
        margin-bottom: 40px!important;
    }
    .mobile .banner-button.even {
        margin-left: 0;
        margin-right: 26px;
        margin-bottom: 40px!important;
    }
    .mobile-tagline {
        margin-bottom: 30px;
        padding: 0 44px;
        margin-top: 100px;
    }
    .mobile .banner-button-wrapper-individual {
        display: block!important;
    }
    .header-banner {
        height: 160px;
    }
    .header-title {
        padding-top: 80px;
    }
}
